@media only screen and (max-width: 1200px) {
	.work, #lightbox div, .skills {
		width: 100%;
	}
}
@media only screen and (max-width: 530px) {
	html, body, #skills > div h1, #works > div:nth-child(1) h1 {
		padding: 0 10px;
	}
	header div:nth-child(2) li {
		margin-left: 45px;
	}
	header div:nth-child(2) li:nth-child(1) {
		margin-left: 0;
	}
}
@media only screen and (max-width: 400px) {
	header div:nth-child(2) li {
		margin-left: 40px;
	}
	header div:nth-child(2) li:nth-child(1) {
		margin-left: 0;
	}
}
@media only screen and (max-width: 349.6px) {
	header div:nth-child(2) li {
		margin-left: 15px;
	}
	header div:nth-child(2) li:nth-child(1) {
		margin-left: 0;
	}
}

