<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=0.9">
	<meta name="description" content="Free delivery on huge amoung of sneakers. Low prices across earth's biggest selection of shoes, such as nike, reebok, asics, adidas & just about anything relatively sneakers.">

	<title>Main page</title>

	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/font/css/font-awesome.css">
	<link rel="stylesheet" href="../static/slick/slick/slick.css">
	<link rel="stylesheet" href="../static/slick/slick/slick-theme.css">
</head>
<body>

	<!-- header start -->

	<header>
		<div>
			<div class="menuButton">
				<i class="fa fa-bars"></i>
			</div>
			<div class="logo_title">
				<a href="../index.html">Newness</a>
			</div>
			<div class="links">
				<ul>
					<li>
						<a href="../index.html">
							Main page
						</a>
					</li>
					<li>
						<a class="contacts-show">
							Contacts
						</a>
					</li>
					<li>
						<a href="#about-us-to">
							About us
						</a>
					</li>
				</ul>
			</div>
			<div class="login_register">
				<div>
					<a href="#">Login</a>
				</div>
				<div>
					<a href="#">Register</a>
				</div>
			</div>
			<div class="cart">
				<span>|</span>
				<a href="#" class="fa fa-shopping-cart"></a>
			</div>
		</div>
	</header>

	<div id="mobileMenu">
		<div class="mobileMenu">
			<div id="login_register_m">
				<i class="fa fa-user-circle fa-2x"></i>
				<div>
					<a href="#">login</a>
				</div>
			</div>
			<div id="mobileLinks">
				<ul>
					<li>
						<a href="#">
							Main page
						</a>
					</li>
					<li>
						<a id="mobile-contacts">
							Contacts
						</a>
					</li>
					<li>
						<a href="#about-us-to" id="about-mobile-link">
							About us
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="exit_menu_m">
			<i class="fa fa-times fa-2x"></i>
		</div>
	</div>

	<div id="contacts">
		<div class="contacts-exit">
			<i class="fa fa-times fa-2x"></i>
		</div>
		<div class="contacts-block">
			<div class="contacts-content">
				<div class="contacts-child">
					Contact
				</div>
				<div class="contacts-child">
					NEWNESS would like to help answer any questions you may have. Send us an email and we'll get back to you as quickly as we can. Follow us on social media for fresh information.  
				</div>
				<div class="contacts-child">
					<p><strong>General</strong> - <span>example@gmail.com</span></p>
					</p><strong>Instagram</strong> - <span>@example</span></p>
				</div>
			</div>
		</div>
		<div class="contacts-email">
			<p>Send us your email and we answer you as fast as we can!</p>
			<p style="color: lightgreen;margin-top: 30px;" id="success-contact"></p>
			<form method="POST" action="">
				<div>
					<input type="name" name="name" placeholder="name">
				</div>
				<div>
					<input type="email" name="email" placeholder="email">
				</div>
				<div>
					<input type="phone" name="phone" placeholder="phone">
				</div>
				<div id="checkbox-block">
					<input type="checkbox" name="agreement">
				</div>
				<div class="privacy">
					<small>
						I agree to the processing of personal data in accordance with the <a href="#">Privacy Policy</a>
					</small>
				</div>
				<div>
					<button type="submit" name="button">send email</button>
				</div>
			</form>
		</div>
	</div>

	<!-- header end -->

	<!-- best selling products slider start -->

	<div id="bestSelling">
		<div class="bestSellingProduct">
			<img src="../static/images/best-selling/1.jpg" alt="asics">
			<div class="bestSellingContent">
				<div class="bestSellingTitle">
					Blue Asics GEL-Kayano 25
				</div>
				<div class="bestSellingText">
					Designed for a lightweight ride, the GEL-KAYANO® 25 men's running shoe guarantees high level comfort and stability.
				</div>
				<div class="bestSellingLink">
					<a href="./1.html">
						<button class="bestSellingButton">buy now <i class="fa fa-arrow-right"></i></button>
					</a>
				</div>
			</div>
		</div>
		<div class="bestSellingProduct">
			<img src="../static/images/best-selling/2.jpg" alt="asics">
			<div class="bestSellingContent">
				<div class="bestSellingTitle">
					Blue, pink and white Adidas Prophere 
				</div>
				<div class="bestSellingText">
					The Adidas Prophere is a new model with old school details. They are constructed with a knit upper, feature 3-Stripes detail, sock-like design, polyurethane midsole with tall sidewall, and a rubber outsole. 
				</div>
				<div class="bestSellingLink">
					<a href="./2.html">
						<button class="bestSellingButton">buy now <i class="fa fa-arrow-right"></i></button>
					</a>
				</div>
			</div>
		</div>
		<div class="bestSellingProduct">
			<img src="../static/images/best-selling/3.jpg" alt="asics">
			<div class="bestSellingContent">
				<div class="bestSellingTitle">
					Grey and black Adidas
				</div>
				<div class="bestSellingText">
					Every ride is a unique experience. These shoes provide targeted support and exceptional level of comfort over the long distance.
				</div>
				<div class="bestSellingLink">
					<a href="">
						<button class="bestSellingButton">buy now <i class="fa fa-arrow-right"></i></button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- best selling products slider end -->

	<!-- categories menu start -->

	<div class="dropdown-parent">
		<div class="dropdown-child">
			asics

			<div id="asics-dropdown" class="dropdown">
				<div>
					<a href="#">running shoes</a>
				</div>
				<div>
					<a href="#">sport style</a>
				</div>
			</div>
		</div>
		<div class="dropdown-child">
			adidas

			<div id="adidas-dropdown" class="dropdown">
				<div>
					<a href="#">running shoes</a>
				</div>
				<div>
					<a href="#">sneakers</a>
				</div>
			</div>
		</div>
		<div class="dropdown-child">
			nike

			<div id="nike-dropdown" class="dropdown">
				<div>
					<a href="#">jordan</a>
				</div>
				<div>
					<a href="#">skateboarding</a>
				</div>
			</div>
		</div>
		<div class="dropdown-child">
			reebok

			<div id="reebok-dropdown" class="dropdown">
				<div>
					<a href="#">classics</a>
				</div>
				<div>
					<a href="#">training</a>
				</div>
			</div>
		</div>
	</div>

	<!-- categories menu end -->

	<!-- products content start -->

	<div class="titleforproducts" id="product">
		<h1>Adidas ZX 1K Boost Shoes</h1>
	</div>	

	<div id="sneaker">
		<div class="sneaker-block">
			<img src="../static/images/catalogue/adidas-1.jpg" height="auto" width="100%" alt="asics">
		</div>
		<div class="sneaker-block">
			<h2>Description</h2>
			<p>Double up on comfort. Where the Boost heel meets the EVA foam forefoot, every step is heel-to-toe satisfaction. Stand out with bold Color hits on a silhouette inspired by ZX history and packed with today's technology. The ZX 1K Boost is ready for the streets.</p>
			<p><big>price : </big> <span>$100</span></p>
			<p style="font-size: 16px;"><i class="fa fa-check"></i> in stock</p>
			<a href="#">
				<button type="button" name="button" class="buyProduct">buy the product <i class="fa fa-credit-card-alt"></i></button>
			</a>
		</div>
	</div>

	<div class="titleforproducts">
		<h1>Best sneakers</h1>
	</div>
	
	<div id="products">
		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/adidas-1.jpg" alt="adidas">
				<div class="product-info">
					<small>Running shoes</small>
					<h4>Adidas ZX 1K Boost Shoes</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./4.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$100</small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/asics-1.jpg" alt="asics">
				<div class="product-info">
					<small>Running shoes</small>
					<h4>Asics GEL-KAYANO 27</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./5.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$180</small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/reebok-1.jpg" alt="reebok">
				<div class="product-info">
					<small>Classics</small>
					<h4>Reebok Classic Leather ATI 90s Shoes</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./6.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$90</small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/nike-1.jpg" alt="nike">
				<div class="product-info">
					<small>Jordan</small>
					<h4>Air Jordan 1 Low</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./7.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$188.98</small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/adidas-2.jpg" alt="adidas">
				<div class="product-info">
					<small>Sneakers</small>
					<h4>Adidas Questar Flow NXT Shoes</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./8.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$68 <s>$75</s></small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>

		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/asics-2.jpg" alt="asics">
				<div class="product-info">
					<small>Sport style</small>
					<h4>Asics GEL-QUANTUM 180</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./9.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$140</small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/reebok-2.jpg" alt="reebok">
				<div class="product-info">
					<small>Training</small>
					<h4>Reebok Advanced Trainer Men's Shoes</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./10.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$65</small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/nike-2.jpg" alt="nike">
				<div class="product-info">
					<small>Skateboarding</small>
					<h4>Nike SB Alleyoop</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./11.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$128.51</small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="in-product">
				<img src="../static/images/catalogue/adidas-3.jpg" alt="adidas">
				<div class="product-info">
					<small>Sneakers</small>
					<h4>Adidas Top Ten Low RB Shoes</h4>
					<div class="bdbtns">
						<div class="buyORdetails">
							<a href="">buy <i class="fa fa-angle-right"></i></a>
						</div>
						<div class="buyORdetails">
							<a href="./12.html">details <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
					<div class="product-price">
						<small>$80</small>
					</div>
				</div>
				<div class="showDetails">
					<i class="fa fa-angle-double-up"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- products content end -->

	<!-- about project start-->

	<div class="titleforproducts titleforproducts2" id="about-us-to">
		<h1>About project</h1>
	</div>

	<div id="about-us">
		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-mobile fa-4x"></i>
				</div>
				<h4><span>.</span> mobile app <span>.</span></h4>
				<p>Our mobile application will help a lot, you may order sneakers without visiting the website</p>
			</div>
		</div>
		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-wrench fa-3x"></i>
				</div>
				<h4><span>.</span> service & support <span>.</span></h4>
				<p>Our service and support is highly enough, thanks to this you can't worry about your orders</p>
			</div>
		</div>
		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-laptop fa-3x"></i>
				</div>
				<h4><span>.</span> mordern design <span>.</span></h4>
				<p>Our application has a nice interface, so you will remain in pleasant thoughts after visiting our website</p>
			</div>
		</div>
		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-money fa-3x"></i>
				</div>
				<h4><span>.</span> favorable prices <span>.</span></h4>
				<p>Surely, the balanced prices of our online store in comparison with others will surprise you</p>
			</div>
		</div>
		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-bus fa-3x"></i>
				</div>
				<h4><span>.</span> delivery <span>.</span></h4>
				<p>Our delivery is significantly good, therefore, we can deliver orders to you anywhere in the world</p>
			</div>
		</div>

		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-archive fa-3x"></i>
				</div>
				<h4><span>.</span> product quality <span>.</span></h4>
				<p>We cannot afford our products to be of poor quality, because this greatly affects our reputation</p>
			</div>
		</div>
		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-paper-plane fa-2x"></i>
				</div>
				<h4><span>.</span> social media <span>.</span></h4>
				<p>We not only actively maintain and develop our website, but we also promote on social networks</p>
			</div>
		</div>
		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-mobile fa-4x"></i>
				</div>
				<h4><span>.</span> Advices <span>.</span></h4>
				<p>We are always pleased to advices of our users regarding everything that effects our project somehow</p>
			</div>
		</div>
		<div class="about-block">
			<div class="about-block-child">
				<div class="about-icon">
					<i class="fa fa-globe fa-3x"></i>
				</div>
				<h4><span>.</span> location <span>.</span></h4>
				<p>Right now, we are trying to expand our company, so, most likely, your location will not play any role</p>
			</div>
		</div>
	</div>

	<!-- about project end -->

	<!-- photo album start -->

	<div id="album">
		<div>
			<img src="../static/images/album/running.jpg" height="auto" width="100%" alt="album1">
			<h3>running shoes</h3>
		</div>
		<div>
			<img src="../static/images/album/skate.jpg" height="auto" width="100%" alt="album2">
			<h3>skateboarding</h3>
		</div>
		<div>
			<img src="../static/images/album/training.jpg" height="auto" width="100%" alt="album3">
			<h3>training</h3>
		</div>
	</div>

	<div id="lightbox">
		<i class="fa fa-times-circle fa-2x exit-lightbox"></i>
		<div id="running" class="lightbox-child">
			<img src="../static/images/album/for_running/1.jpg" alt="shoes">
			<img src="../static/images/album/for_running/2.jpg" alt="shoes">
			<img src="../static/images/album/for_running/3.jpg" alt="shoes">
		</div>
		<div id="skateboarding" class="lightbox-child">
			<img src="../static/images/album/for_skate/1.jpg" alt="shoes">
			<img src="../static/images/album/for_skate/2.jpg" alt="shoes">
			<img src="../static/images/album/for_skate/3.jpg" alt="shoes">
		</div>
		<div id="training" class="lightbox-child">
			<img src="../static/images/album/for_training/1.jpg" alt="shoes">
			<img src="../static/images/album/for_training/2.jpg" alt="shoes">
			<img src="../static/images/album/for_training/3.jpg" alt="shoes">
		</div>
	</div>

	<!-- photo album end -->

	<footer>
		<div class="footer-child footer-links">
			<ul>
				<li>
					<a href="../index.html">Main page</a>
				</li>
				<li>
					<a class="contacts-show">Contacts</a>
				</li>
				<li>
					<a href="#about-us-to">About us</a>
				</li>
			</ul>
		</div>
		<div class="footer-child">
			<div class="infooter-child">
				<h1>Stay in the know</h1>
				<p>You can contact us right now for any questions.</p>
				<p style="margin-top: 20px;color: lightgreen;" id="success-contact-f"></p>
				<div id="form-block">
					<form method="POST" action="">
						<div>
							<input type="email" name="email" placeholder="enter email">
						</div>
						<div>
							<button type="submit" name="button">send</button>
						</div>
					</form>
				</div>				
			</div>
		</div>
		<div class="footer-child social-media">
			<ul>
				<li>
					<a href="#" class="fa fa-facebook"></a>
				</li>
				<li>
					<a href="#" class="fa fa-instagram"></a>
				</li>
				<li>
					<a href="#" class="fa fa-paper-plane"></a>
				</li>								
			</ul>
		</div>
		<div class="footer-child copyright">
			<span>&copy 2021 All Rights Reserved</span>
		</div>
	</footer>

	<script src="../static/js/jquery.js"></script>
	<script src="../static/slick/slick/slick.js"></script>
	<script src="../static/js/script.js"></script>
</body>
</html>